<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Dashboard</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">  
  <style>
    footer {
      position: fixed;
      left: 0;
      bottom: 0;
      text-align: center;
      width: 100%;
      background-color: DarkSalmon;
      font-family: 'Courier New', Courier, monospace;
      color: white;
    }
  </style>

</head>

<body style="background-color:black">
  <div class="container-fluid" >
    <div class="jumbotron text-center">
      <h2 style="color:lightcoral">Audios and Transcriptions for {{fn}}</h2>
      <p><a class="btn btn-primary btn-lg" href="/" role="button">Upload New File</a></p>
    </div>
    <!-- ultimately, iterate over these-->
    <!-- Row 1 -->
    {% for item in d %}
    <div class="row mt-5">
	   <div class="col-md-12">
	     <h3 style="color: white; font-weight: bold; font-family: Arial, Helvetica, sans-serif;">
	            {{item.to_dict()['clientName']}} {{item.to_dict()['date']}}
       </h3>
	     <p style="color: lightcoral"><a href="{{item.to_dict()['audioURL']}}">Audio</a></p>
	     <p style="color:lightcoral"><a href="{{item.to_dict()['transcriptionURL']}}">Transcription</a></p>
	   </div>
    </div>
    {% endfor %}
  </div>
  <footer>
    <p>Copyright (c) 2020 Depotube All Rights Reserved<br>
    <a href="mailto:hq@depotube.com">hq@depotube.com</a></p>
  </footer>
</body>


</html>