<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Depotube Demo</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>


<body style="background-color:lightblue">
  <div class="container-fluid" >
    <div class="row mt-5">
      <div class="col-md-12">
        <h3 style="color: white; font-weight: bold; font-family: Arial, Helvetica, sans-serif;">
          Upload new File
        </h3>
        <form action="{{ url_for('upload_file') }}" method=post enctype=multipart/form-data>
          <input type=file name=file>
          <input type=submit value=upload>
        </form>

    <!-- <div class="jumbotron text-center">
        Render our data 
      <h1>{{ text }}</h1> -->
      </div>
    </div>
  </div>
</body>

</html>